<header>
    <a href="/">Home</a>
    <% if (user) {%>
        <a href="/users/logout">Log Out</a>
        <a href="/users/profile">View Profile</a>
    <% } else {%>
        <a href="/users/new">Sign Up</a>
        <a href="/users/login">Log In</a>
    <% } %>
</header>