<form action="/results" method="GET">
    <label>Search for recipes!</label>
    <input type="text" name="search">
    <!-- <label for="">+</label>
    <input type="text" name="name2">
    <label for="">+</label>
    <input type="text" name="name3">
    <label for="">+</label>
    <input type="text" name="name4">
    <label for="">+</label>
    <input type="text" name="name5"> -->
    <input type="submit" value="Search">
</form>