<form action="/recipes/results" method="GET">
    <label>Search for recipes!</label>
    <input type="text" name="search1">
    <label for="">+</label>
    <input type="text" name="search2">
    <label for="">+</label>
    <input type="text" name="search3">
    <label for="">+</label>
    <input type="text" name="search4">
    <label for="">+</label>
    <input type="text" name="search5">
    <label for="maxIngr">Maximum Ingredients</label>

    <input type="number" autocomplete="10" max="30" min="1" name="ingr" id="maxIngr">


    <input type="submit" value="Search">
</form>