<div class="container2">
  <div class="search-side">
    <%- include('./partials/search.ejs') %>
  </div>
  
  <div class="recipelist">
    <h2>"POPULAR" RECIPES</h2>
    <% recipes.forEach(recipe => { %>
      
      <div class="recipecard">
          <div class="recipe1">
            <h3><%= recipe.dataValues.label %> </h3>
          </div>
          
          <div class="recipe2">
            <h4>from "<%= recipe.dataValues.source %>"</h4>
            <form class="seemore" action="/recipes/detail" method="GET">
              <input type="hidden" name="uri" value="<%= recipe.dataValues.uri %>">
              <input class="seemoreinfo" type="submit" value="See More Info">
            </form>
          </div>
      </div>
  
    <% }) %>
  </div>
</div>