body {
    background-color: #fff1cc;
    margin: 0;
}
header {
    background-color: #b03346;
    height: 40px;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    ;
}
.container {
    margin: 30px;
}
