<div class="container4">
    <h2 class="margin-bottom" >Sign Up</h2>
    
    <form method="POST" action="/users/new">
        <label for="user_name">Username:</label>
        <input type="text" id="user_name" name="username">
       
        <label for="user_email">Email:</label>
        <input type="text" id="user_email" name="email">
        
        <label for="user_password">Password:</label>
        <input type="password" id="user_password" name="password">
        <input type="submit">
    </form>
</div>
