<%- include('../partials/search.ejs') %>
<% if (user) { %>
    <h4>Hello, <%= user.username %>!</h4>
  <% } %>
  <h2>Saved Recipes:</h2>
<% recipes.forEach(recipe => { %>
  <h4><%= recipe.dataValues.label %></h4>
<% }) %>
 